# Packages

In [1]:
import pandas as pd
import numpy as np

# Data Processing

### Bollywood Data

###  Song Data

In [2]:

bolly_df=pd.read_csv('Bollywood Data.txt')

In [3]:
bolly_df=bolly_df.head(50)
bolly_df.drop(bolly_df.columns[[0]],axis=1, inplace=True)
bolly_df.head()

,Song Title,Artist 1,Artist 2,Mood,Genre,Year,People Liked,Popularity
0,Tum Hi Ho,Arijit Singh,NaN,Romantic,Pop,2013,3500000,9500000.0
1,Chaiyya Chaiyya,Sukhwinder Singh,NaN,Energetic,Folk,1998,4000000,9000000.0
2,Kal Ho Naa Ho,Sonu Nigam,NaN,Sad,Pop,2003,2800000,8800000.0
3,Jai Ho,A. R. Rahman,NaN,Energetic,Fusion,2008,3200000,9200000.0
4,Tujh Mein Rab Dikhta Hai,Shreya Ghoshal,NaN,Romantic,Classical,2008,2500000,8700000.0

In [4]:
bolly_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Song Title    50 non-null     object
 1   Artist 1      50 non-null     object
 2   Artist 2      21 non-null     object
 3   Mood          50 non-null     object
 4   Genre         50 non-null     object
 5   Year          50 non-null     int64
 6   People Liked  50 non-null     int64
 7   Popularity    50 non-null     float64
dtypes: float64(1), int64(2), object(5)
memory usage: 3.3+ KB

## Kollywood Data

In [5]:
import pandas as pd

# Data structure for the songs
tamil_songs_data_expanded_corrected = {
    "#": list(range(1, 51)),
    "Song Title": [
        "Rowdy Baby", "Vaathi Coming", "Enjoy Enjaami", "Why This Kolaveri Di", 
        "Aalaporan Thamizhan", "Vaseegara", "Marana Mass", "Kannamma", 
        "Dippam Dappam", "Anbe Anbe", "Otha Sollaala", "Mukkala Mukkabala", 
        "Maya Nadhi", "Kannaana Kanne", "Kaatru Veliyidai", "Kalyana Vayasu", 
        "Danga Maari", "Aathi", "Selfie Pulla", "Aathi Enna Nee", 
        "Thani Oruvan", "Oru Naal Koothu", "Vennilave", "Mental Manadhil", 
        "Kutti Story", "Pudhu Vellai Mazhai", "Unnai Kaanadhu Naan", "Adiye", 
        "Uyire", "Kadhalan", "Appadi Podu", "Usure Pogudhey", "Nenjukkul Peidhidum", 
        "Saarattu Vandiyila", "Kannamma", "Maduraikku Pogathadi", "Dhevathaiyai Kanden", 
        "Kannanule", "Anbil Avan", "Enna Solla", "Pachchai Nirame", 
        "Aarariraro", "Kaathalae Kaathalae", "Poo Avizhum Pozhudhil", "Anjali Anjali", 
        "Munbe Vaa", "Rasaali", "Oday Oday", "Neeyum Naanum", "Unna Nenachu"
    ],
    "Artist 1": [
        "Dhanush", "Anirudh Ravichander", "Dhee", "Dhanush", 
        "Karthik", "Bombay Jayashri", "Anirudh Ravichander", "Anirudh Ravichander", 
        "Anirudh Ravichander", "Hariharan", "Velmurugan", "Prabhudeva", 
        "Ananthu", "Sid Sriram", "Arijit Singh", "Anirudh Ravichander", 
        "Dhanush", "Vishal Dadlani", "Vijay", "Sathya Prakash", 
        "Hiphop Tamizha", "Benny Dayal", "Hariharan", "A. R. Rahman", 
        "Anirudh Ravichander", "A. R. Rahman", "Shankar Mahadevan", "Sid Sriram", 
        "Hariharan", "S. P. Balasubrahmanyam", "Pushpavanam Kuppusamy", 
        "Karthik", "Hariharan", "Kalyani Nair", "Yazin Nizar", "Karthik", 
        "Chinmayi", "Shankar Mahadevan", "Shankar Mahadevan", "Hariharan", 
        "Bombay Jayashri", "Anirudh Ravichander", "Ilaiyaraaja", "Harini", 
        "Shreya Ghoshal", "Anirudh Ravichander", "S.P.Balasubrahmanyam", "Sid Sriram", 
        "Sid Sriram","Sid Sriram"
    ],
    "Artist 2": [
        "Dhee", "G.V. Prakash Kumar", "Arivu", "", 
        "", "", "S. P. Balasubrahmanyam", "", 
        "Shashaa Tirupati", "Swarnalatha", "", "", 
        "", "", "Jonita Gandhi", "", 
        "Anirudh Ravichander", "", "", 
        "", "", "", "", 
        "", "", "", "", 
        "", "", "", "", 
        "", "", "", "","", "", "", "", 
        "", "", "", "", 
        "", "", "", "", "","",""
    ],
    "Mood": [
        "Energetic", "Energetic", "Chill", "Fun", 
        "Patriotic", "Romantic", "Mass", "Romantic", 
        "Energetic", "Romantic", "Fun", "Energetic", 
        "Melancholic", "Romantic", "Romantic", "Fun", 
        "Mass", "Energetic", "Fun", "Romantic", 
        "Energetic", "Fun", "Romantic", "Fun", 
        "Fun", "Romantic", "Melancholic", "Romantic", 
        "Romantic", "Fun", "Melancholic", "Romantic", 
        "Romantic", "Romantic", "Romantic", "Romantic", 
        "Romantic", "Romantic", "Romantic", "Romantic", 
        "Romantic", "Romantic", "Romantic", "Romantic", 
        "Romantic", "Romantic", "Romantic", "Romantic", "Romantic","Romantic"
    ],
    "Genre": [
        "Folk", "Folk", "Indie", "Pop", 
        "Folk", "Classical", "Mass", "Pop", 
        "Dance", "Classical", "Folk", "Pop", 
        "Folk", "Classical", "Classical", "Folk", 
        "Mass", "Pop", "Pop", "Classical", 
        "Pop", "Pop", "Classical", "Pop", 
        "Pop", "Classical", "Classical", "Classical", 
        "Classical", "Folk", "Classical", "Classical", 
        "Folk", "Classical", "Classical", "Classical", 
        "Classical", "Pop", "Classical", "Classical", 
        "Classical", "Pop", "Classical", "Classical", 
        "Classical", "Classical", "Classical", "Classical", "Classical", "Classical"
    ],
    "People Liked": [
        1200000, 1150000, 1050000, 2100000, 
        950000, 1200000, 850000, 1250000, 
        780000, 940000, 890000, 1100000, 
        960000, 1300000, 950000, 1200000, 
        800000, 850000, 1500000, 920000, 
        1100000, 980000, 1300000, 940000, 
        2100000, 1150000, 1020000, 1150000, 
        1200000, 1450000, 1130000, 990000, 
        1040000, 870000, 920000, 860000, 
        810000, 1250000, 920000, 1080000, 
        890000, 1350000, 980000, 1400000, 
        900000, 940000, 960000, 1300000, 1500000, 1500000
    ],
    "Popularity": [
        85, 83, 80, 90, 
        78, 82, 75, 84, 
        77, 79, 81, 88, 
        79, 86, 85, 87, 
        77, 74, 88, 80, 
        89, 79, 87, 78, 
        90, 82, 80, 85, 
        88, 91, 83, 79, 
        85, 75, 81, 79, 
        78, 84, 80, 85, 
        81, 89, 78, 90, 
        77, 79, 80, 88, 90, 90
    ]
}
# Check the length of each list
for key, value in tamil_songs_data_expanded_corrected.items():
    print(f"{key}: {len(value)}")


# Create a DataFrame from the data dictionary
tamil_songs_df_expanded_corrected = pd.DataFrame(tamil_songs_data_expanded_corrected)

# Define the file path for the CSV
csv_tamil_songs_expanded_corrected_path = 'tamil_songs_dataset_expanded_corrected.csv'

# Save the DataFrame as a CSV file
tamil_songs_df_expanded_corrected.to_csv(csv_tamil_songs_expanded_corrected_path, index=False)

# Output the path of the saved CSV file
csv_tamil_songs_expanded_corrected_path

#: 50
Song Title: 50
Artist 1: 50
Artist 2: 50
Mood: 50
Genre: 50
People Liked: 50
Popularity: 50

'tamil_songs_dataset_expanded_corrected.csv'

## User Data

In [6]:
user_Bolly_df=pd.read_csv('Bollywood_collaborative_filtering_dataset.csv')
user_Bolly_df.drop(user_Bolly_df.columns[[0]],axis=1, inplace=True)

In [7]:
user_Bolly_df.info

<bound method DataFrame.info of     Tum Hi Ho  Chaiyya Chaiyya  Kal Ho Naa Ho  Jai Ho  \
0         NaN              5.0            NaN     5.0
1         2.0              NaN            4.0     4.0
2         5.0              2.0            2.0     NaN
3         4.0              4.0            4.0     3.0
4         4.0              2.0            4.0     NaN
5         3.0              1.0            1.0     3.0
6         3.0              4.0            3.0     NaN
7         NaN              4.0            5.0     NaN
8         5.0              1.0            2.0     2.0
9         4.0              3.0            4.0     4.0
10        NaN              4.0            2.0     5.0
11        5.0              5.0            2.0     2.0
12        2.0              4.0            NaN     4.0
13        NaN              2.0            4.0     2.0
14        NaN              NaN            1.0     5.0
15        3.0              3.0            NaN     4.0
16        NaN              NaN            5.0     1.0
17        NaN              1.0            5.0     4.0
18        3.0              5.0            4.0     5.0
19        3.0              1.0            4.0     NaN

    Tujh Mein Rab Dikhta Hai  Badtameez Dil  Pachtaoge  Zingaat  \
0                        5.0            2.0        3.0      3.0
1                        4.0            NaN        NaN      1.0
2                        NaN            1.0        4.0      2.0
3                        2.0            NaN        1.0      1.0
4                        3.0            1.0        5.0      4.0
5                        3.0            3.0        4.0      1.0
6                        1.0            4.0        4.0      5.0
7                        NaN            4.0        3.0      4.0
8                        NaN            NaN        1.0      NaN
9                        2.0            3.0        4.0      1.0
10                       1.0            3.0        NaN      3.0
11                       2.0            5.0        3.0      NaN
12                       4.0            5.0        1.0      1.0
13                       4.0            4.0        5.0      1.0
14                       NaN            3.0        5.0      5.0
15                       NaN            1.0        4.0      2.0
16                       NaN            2.0        2.0      1.0
17                       1.0            4.0        2.0      NaN
18                       2.0            4.0        3.0      4.0
19                       3.0            1.0        NaN      4.0

    Tera Ban Jaunga  Aaj Kal Tere Mere Pyar Ke  ...  Tera Yaar Hoon Main  \
0               NaN                        5.0  ...                  1.0
1               4.0                        2.0  ...                  1.0
2               1.0                        NaN  ...                  3.0
3               NaN                        1.0  ...                  1.0
4               2.0                        3.0  ...                  2.0
5               NaN                        3.0  ...                  NaN
6               5.0                        3.0  ...                  3.0
7               2.0                        2.0  ...                  1.0
8               NaN                        1.0  ...                  2.0
9               1.0                        5.0  ...                  2.0
10              4.0                        2.0  ...                  5.0
11              3.0                        3.0  ...                  3.0
12              3.0                        5.0  ...                  1.0
13              4.0                        NaN  ...                  1.0
14              5.0                        NaN  ...                  5.0
15              3.0                        1.0  ...                  5.0
16              2.0                        5.0  ...                  3.0
17              1.0                        5.0  ...                  4.0
18              1.0                        NaN  ...                  5.0
19              3.0                        5.0  ...                  4.0

    Zaalima  Raabta (Kehte Hain Khuda)  Hawa Hawa  Saans  Dil Diyan Gallan  \
0       2.0                        4.0        1.0    NaN               2.0
1       1.0                        NaN        3.0    3.0               1.0
2       3.0                        4.0        2.0    2.0               5.0
3       2.0                        2.0        4.0    5.0               1.0
4       1.0                        4.0        4.0    1.0               2.0
5       3.0                        2.0        5.0    1.0               4.0
6       5.0                        2.0        2.0    NaN               NaN
7       NaN                        4.0        NaN    2.0               5.0
8       2.0                        3.0        2.0    1.0               5.0
9       5.0                        2.0        NaN    3.0               5.0
10      3.0                        4.0        1.0    4.0               3.0
11      5.0                        4.0        3.0    2.0               2.0
12      3.0                        4.0        NaN    4.0               NaN
13      3.0                        3.0        1.0    5.0               1.0
14      5.0                        2.0        3.0    3.0               4.0
15      2.0                        NaN        3.0    5.0               5.0
16      3.0                        1.0        5.0    4.0               2.0
17      NaN                        3.0        NaN    1.0               3.0
18      4.0                        NaN        2.0    5.0               3.0
19      NaN                        4.0        5.0    1.0               1.0

    Manwa Laage  Hookah Bar  Mast Magan  Tum Tak
0           2.0         1.0         2.0      5.0
1           3.0         3.0         1.0      3.0
2           1.0         5.0         4.0      4.0
3           1.0         3.0         2.0      5.0
4           1.0         4.0         5.0      5.0
5           1.0         5.0         4.0      5.0
6           1.0         5.0         4.0      2.0
7           2.0         NaN         1.0      NaN
8           5.0         NaN         2.0      NaN
9           4.0         1.0         5.0      5.0
10          5.0         4.0         5.0      1.0
11          3.0         NaN         5.0      5.0
12          NaN         NaN         NaN      4.0
13          2.0         1.0         3.0      1.0
14          2.0         2.0         NaN      2.0
15          2.0         4.0         2.0      5.0
16          1.0         1.0         NaN      4.0
17          1.0         2.0         3.0      2.0
18          1.0         2.0         NaN      3.0
19          5.0         5.0         NaN      1.0

[20 rows x 48 columns]>

# Artists

In [8]:
bolly_artists1_df=bolly_df['Artist 1']
bolly_artists2_df=bolly_df['Artist 2']

In [9]:
bolly_df_artist1_unique = bolly_artists1_df.drop_duplicates()
bolly_df_artist1_unique.head()

0        Arijit Singh
1    Sukhwinder Singh
2          Sonu Nigam
3        A. R. Rahman
4      Shreya Ghoshal
Name: Artist 1, dtype: object

In [10]:
bolly_df_artist1_unique.info()

<class 'pandas.core.series.Series'>
Int64Index: 30 entries, 0 to 45
Series name: Artist 1
Non-Null Count  Dtype
--------------  -----
30 non-null     object
dtypes: object(1)
memory usage: 480.0+ bytes

In [11]:
bolly_df_artist2_unique = bolly_artists2_df.drop_duplicates()
bolly_df_artist2_unique.head()

0                  NaN
11          Shilpa Rao
15     Priyanka Chopra
18        Antara Mitra
19         Neha Kakkar
Name: Artist 2, dtype: object

In [12]:
bolly_df_artist2_unique.info()

<class 'pandas.core.series.Series'>
Int64Index: 21 entries, 0 to 48
Series name: Artist 2
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 336.0+ bytes

In [13]:
bolly_artists_df=pd.concat([bolly_df['Artist 1'], bolly_df['Artist 2']]).reset_index(drop=True)

In [14]:
bolly_artist_df_unique.info()

NameError: name 'bolly_artist_df_unique' is not defined

# Inclusion of Rating

##  Popularity/People Liked

In [ ]:
bolly_df['Rating']=bolly_df['Popularity']/bolly_df['People Liked']

In [ ]:
bolly_df.head()

# EDA

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [16]:
bolly_df.groupby('Song Title')['People Liked'].mean().sort_values(ascending=False).head()

Song Title
Pachtaoge             4200000.0
Chaiyya Chaiyya       4000000.0
Channa Mereya         4000000.0
Zingaat               3800000.0
Ae Dil Hai Mushkil    3800000.0
Name: People Liked, dtype: float64

In [17]:
bolly_df.groupby('Song Title')['People Liked'].count().sort_values(ascending=False).head()

Song Title
Aaj Kal Tere Mere Pyar Ke      1
Sun Saathiya                   1
Pachtaoge                      1
Pal Pal Dil Ke Paas            1
Palat - Tera Hero Idhar Hai    1
Name: People Liked, dtype: int64

In [18]:
rating=pd.DataFrame(bolly_df.groupby('Song Title')['Rating'].mean())
rating.head()

KeyError: 'Column not found: Rating'

In [ ]:
rating['num of rating']=pd.DataFrame(bolly_df.groupby('Song Title')['People Liked'].count())
rating.head()

In [ ]:
plt.figure(figsize=(10,4))
rating['Rating'].hist(bins=70)

In [ ]:
plt.figure(figsize=(10,4))
rating['Rating'].hist(bins=70)

## Recommending Similar Movies

In [19]:
user_Bolly_df

,Tum Hi Ho,Chaiyya Chaiyya,Kal Ho Naa Ho,Jai Ho,Tujh Mein Rab Dikhta Hai,Badtameez Dil,Pachtaoge,Zingaat,Tera Ban Jaunga,Aaj Kal Tere Mere Pyar Ke,...,Tera Yaar Hoon Main,Zaalima,Raabta (Kehte Hain Khuda),Hawa Hawa,Saans,Dil Diyan Gallan,Manwa Laage,Hookah Bar,Mast Magan,Tum Tak
0,NaN,5.0,NaN,5.0,5.0,2.0,3.0,3.0,NaN,5.0,...,1.0,2.0,4.0,1.0,NaN,2.0,2.0,1.0,2.0,5.0
1,2.0,NaN,4.0,4.0,4.0,NaN,NaN,1.0,4.0,2.0,...,1.0,1.0,NaN,3.0,3.0,1.0,3.0,3.0,1.0,3.0
2,5.0,2.0,2.0,NaN,NaN,1.0,4.0,2.0,1.0,NaN,...,3.0,3.0,4.0,2.0,2.0,5.0,1.0,5.0,4.0,4.0
3,4.0,4.0,4.0,3.0,2.0,NaN,1.0,1.0,NaN,1.0,...,1.0,2.0,2.0,4.0,5.0,1.0,1.0,3.0,2.0,5.0
4,4.0,2.0,4.0,NaN,3.0,1.0,5.0,4.0,2.0,3.0,...,2.0,1.0,4.0,4.0,1.0,2.0,1.0,4.0,5.0,5.0
5,3.0,1.0,1.0,3.0,3.0,3.0,4.0,1.0,NaN,3.0,...,NaN,3.0,2.0,5.0,1.0,4.0,1.0,5.0,4.0,5.0
6,3.0,4.0,3.0,NaN,1.0,4.0,4.0,5.0,5.0,3.0,...,3.0,5.0,2.0,2.0,NaN,NaN,1.0,5.0,4.0,2.0
7,NaN,4.0,5.0,NaN,NaN,4.0,3.0,4.0,2.0,2.0,...,1.0,NaN,4.0,NaN,2.0,5.0,2.0,NaN,1.0,NaN
8,5.0,1.0,2.0,2.0,NaN,NaN,1.0,NaN,NaN,1.0,...,2.0,2.0,3.0,2.0,1.0,5.0,5.0,NaN,2.0,NaN
9,4.0,3.0,4.0,4.0,2.0,3.0,4.0,1.0,1.0,5.0,...,2.0,5.0,2.0,NaN,3.0,5.0,4.0,1.0,5.0,5.0
10,NaN,4.0,2.0,5.0,1.0,3.0,NaN,3.0,4.0,2.0,...,5.0,3.0,4.0,1.0,4.0,3.0,5.0,4.0,5.0,1.0
11,5.0,5.0,2.0,2.0,2.0,5.0,3.0,NaN,3.0,3.0,...,3.0,5.0,4.0,3.0,2.0,2.0,3.0,NaN,5.0,5.0
12,2.0,4.0,NaN,4.0,4.0,5.0,1.0,1.0,3.0,5.0,...,1.0,3.0,4.0,NaN,4.0,NaN,NaN,NaN,NaN,4.0
13,NaN,2.0,4.0,2.0,4.0,4.0,5.0,1.0,4.0,NaN,...,1.0,3.0,3.0,1.0,5.0,1.0,2.0,1.0,3.0,1.0
14,NaN,NaN,1.0,5.0,NaN,3.0,5.0,5.0,5.0,NaN,...,5.0,5.0,2.0,3.0,3.0,4.0,2.0,2.0,NaN,2.0
15,3.0,3.0,NaN,4.0,NaN,1.0,4.0,2.0,3.0,1.0,...,5.0,2.0,NaN,3.0,5.0,5.0,2.0,4.0,2.0,5.0
16,NaN,NaN,5.0,1.0,NaN,2.0,2.0,1.0,2.0,5.0,...,3.0,3.0,1.0,5.0,4.0,2.0,1.0,1.0,NaN,4.0
17,NaN,1.0,5.0,4.0,1.0,4.0,2.0,NaN,1.0,5.0,...,4.0,NaN,3.0,NaN,1.0,3.0,1.0,2.0,3.0,2.0
18,3.0,5.0,4.0,5.0,2.0,4.0,3.0,4.0,1.0,NaN,...,5.0,4.0,NaN,2.0,5.0,3.0,1.0,2.0,NaN,3.0
19,3.0,1.0,4.0,NaN,3.0,1.0,NaN,4.0,3.0,5.0,...,4.0,NaN,4.0,5.0,1.0,1.0,5.0,5.0,NaN,1.0

In [22]:
starwars_user_rating=user_Bolly_df['Tum Hi Ho']
starwars_user_rating.head()

0    NaN
1    2.0
2    5.0
3    4.0
4    4.0
Name: Tum Hi Ho, dtype: float64

In [23]:
similar_to_starwars=user_Bolly_df.corrwith(starwars_user_rating)

In [24]:
corr_starwars=pd.DataFrame(similar_to_starwars,columns=['Correlation'])
corr_starwars.dropna(inplace=True)
corr_starwars.head()

                          Correlation
Tum Hi Ho                    1.000000
Chaiyya Chaiyya             -0.143126
Kal Ho Naa Ho               -0.412335
Jai Ho                      -0.739299
Tujh Mein Rab Dikhta Hai    -0.581914

In [25]:
corr_starwars.sort_values('Correlation',ascending=False).head(10)

                         Correlation
Tum Hi Ho                   1.000000
Tum Mile (Rock Version)     0.741665
Phir Le Aya Dil             0.527903
Tera Hone Laga Hoon         0.504308
Tum Tak                     0.424637
Bulleya                     0.415641
Mast Magan                  0.414455
Subhanallah                 0.391364
Kala Chashma                0.388100
Dil Diyan Gallan            0.353591