# Packages

In [3]:
import pandas as pd
import numpy as np

## Recommending Similar Movies

In [8]:
user_Bolly_df

,User ID,Rowdy Baby,Vaathi Coming,Enjoy Enjaami,Why This Kolaveri Di,Aalaporan Thamizhan,Vaseegara,Marana Mass,Kannamma,Dippam Dappam,...,Adiye,Uyire,Kadhalan,Appadi Podu,Usure Pogudhey,Nenjukkul Peidhidum,Saarattu Vandiyila,Kannamma.1,Maduraikku Pogathadi,Dhevathaiyai
0,User1,2,1,4,1,1,1,3,5,3,...,4,3,5,4,1,2,4,1,4,4
1,User2,3,1,5,1,2,4,4,4,5,...,1,5,3,5,4,5,5,3,3,4
2,User3,3,1,2,5,4,3,5,3,2,...,5,5,3,3,5,5,1,1,3,5
3,User4,1,2,3,3,1,4,5,3,4,...,3,3,3,3,4,3,5,3,4,2
4,User5,3,2,1,2,2,2,3,2,3,...,1,5,1,2,4,4,1,3,2,4
5,User6,3,5,5,5,4,5,2,3,4,...,3,5,2,1,1,2,5,4,4,5
6,User7,5,5,4,1,1,5,5,1,2,...,2,4,1,4,1,4,4,5,1,3
7,User8,4,1,3,4,2,5,1,3,5,...,1,1,5,5,4,3,5,3,5,5
8,User9,2,1,4,5,5,3,2,2,5,...,4,4,4,1,5,3,2,3,5,2
9,User10,5,4,1,2,4,1,4,1,2,...,4,5,5,2,1,1,4,2,1,4
10,User11,2,1,2,3,5,3,2,3,3,...,5,1,1,1,3,4,1,1,2,5
11,User12,3,4,4,1,1,3,4,4,3,...,1,1,5,5,3,5,5,2,5,1
12,User13,5,3,2,3,5,4,5,3,1,...,1,1,3,5,5,3,2,5,3,1
13,User14,2,5,4,1,3,2,5,1,1,...,5,1,2,5,4,3,5,5,3,1
14,User15,3,4,4,2,1,3,3,3,3,...,4,5,2,1,1,2,3,2,5,3
15,User16,2,2,5,3,3,4,4,3,5,...,3,5,1,4,4,5,1,1,1,1
16,User17,5,3,4,5,1,1,1,1,1,...,1,3,1,4,4,1,3,3,3,3
17,User18,3,2,1,5,5,3,3,1,5,...,2,1,3,5,2,2,4,5,4,5
18,User19,1,3,2,3,1,4,1,2,5,...,1,3,2,4,5,2,3,3,5,3
19,User20,3,4,5,3,3,3,4,2,5,...,3,1,1,2,4,5,3,3,5,3
20,User21,5,3,4,4,1,5,1,4,3,...,3,3,2,1,5,5,5,4,2,3
21,User22,5,2,2,4,3,3,5,2,4,...,3,4,4,1,1,2,1,3,5,1
22,User23,3,1,4,4,3,5,3,2,4,...,3,3,3,1,2,5,3,1,5,4
23,User24,2,5,5,2,4,4,5,4,4,...,3,5,1,1,4,4,3,1,4,1
24,User25,2,5,4,5,5,5,4,4,5,...,1,5,1,1,5,1,2,1,3,5
25,User26,1,1,1,3,1,2,2,3,5,...,5,4,2,3,5,3,1,3,1,5
26,User27,3,4,2,2,5,5,5,2,3,...,1,1,5,3,5,5,5,2,2,1
27,User28,2,3,1,3,5,4,2,5,4,...,3,1,2,2,3,1,5,1,4,2
28,User29,3,4,1,1,2,3,4,3,3,...,3,2,1,3,2,3,3,1,4,3
29,User30,4,1,1,2,2,3,1,1,5,...,4,3,1,2,1,5,3,3,1,4

In [7]:
user_Bolly_df=pd.read_csv('Collabrative Filtering T.csv')

In [9]:
starwars_user_rating=user_Bolly_df['Enjoy Enjaami']
starwars_user_rating.head()

0    4
1    5
2    2
3    3
4    1
Name: Enjoy Enjaami, dtype: int64

In [10]:
similar_to_starwars=user_Bolly_df.corrwith(starwars_user_rating)

C:\Users\sreev\AppData\Local\Temp\ipykernel_10488\2621396572.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  similar_to_starwars=user_Bolly_df.corrwith(starwars_user_rating)

In [11]:
corr_starwars=pd.DataFrame(similar_to_starwars,columns=['Correlation'])
corr_starwars.dropna(inplace=True)
corr_starwars.head()

                      Correlation
Rowdy Baby              -0.055291
Vaathi Coming            0.278294
Enjoy Enjaami            1.000000
Why This Kolaveri Di     0.016432
Aalaporan Thamizhan     -0.161858

In [12]:
corr_starwars.sort_values('Correlation',ascending=False).head(10)

                      Correlation
Enjoy Enjaami            1.000000
Anbe Anbe                0.437956
Aathi                    0.329353
Vaseegara                0.278889
Vaathi Coming            0.278294
Maduraikku Pogathadi     0.257556
Thani Oruvan             0.242781
Uyire                    0.242639
Kannamma                 0.235219
Saarattu Vandiyila       0.231912